* {
    --brand-experiment: #7289da;
    --font-display: var(--font-primary);
}
.containerDefault-YUSmu3 * {
    --background-modifier-selected: transparent;
}
.theme-dark {
    --chat-box-border-color: #646973;
    --chat-box-bg-color: #424549;
    --divider-color: #3e4146;
    --divider-color-secondary: #313338;
}
.theme-light {
    --chat-box-border-color: #dadddf;
    --chat-box-bg-color: white;
    --divider-color: var(--chat-box-border-color);
    --divider-color-secondary: transparent;
}

.scrollableContainer-15eg7h {
    background-color: transparent;
}

.channelTextArea-1FufC0, .channelTextArea-1VQBuV {
    border: 2px solid var(--chat-box-border-color);
    border-radius: 3px;
    background-color: var(--chat-box-bg-color);
}
.channelTextArea-1VQBuV:not(.channelTextArea-1FufC0):not(.channelTextAreaDisabled-1p2fQv) {
    padding-left: 10px;
}
.channelTextArea-1VQBuV.channelTextAreaDisabled-1p2fQv > div > div {
    padding-left: 0;
}

.attachButton-1ijpt9 {
    padding: 10px;
    border-radius: 0;
    margin-right: 10px;
}

.textArea-2CLwUE:not(.textAreaDisabled-10ObTX) {
    border-left: 1px solid var(--chat-box-border-color);
    margin-left: -10px;
}

.textArea-2CLwUE > div {
    padding-left: 10px;
}

.stickerPreviewDivider-1qXmx6 {
    margin: 0;
}

.clipContainer-31nYlH {
    padding: 0
}

.title-17SveM.base-21yXnu.size16-rrJ6ag {
    font-size: 1.25em;
    font-weight: bolder;
    margin-left: -4px;
    overflow: visible;
}

.offline-22aM7E .name-3Vmqxm {
    font-weight: lighter;
}

.container-YkUktl .directionRow-2Iu2A9 svg path, 
.iconWrapper-2awDjA:not(:first-child) svg path, 
.container-1zzFcN .directionRow-2Iu2A9.alignStretch-Uwowzr svg path,
.actionButtons-2vEOUh button svg path {
    stroke-width: 1px;
    stroke: #6e7175;
    fill: #00000001;
}
.actionButtons-2vEOUh button {
    background-color: #2e3136!important;
    border: 1px solid var(--background-floating);
    color: #6e7175!important;
}

.container-YkUktl {
    padding: 10px;
}

.container-YkUktl .directionRow-2Iu2A9, .container-1zzFcN .directionRow-2Iu2A9.alignStretch-Uwowzr {
    border: 1px solid var(--background-tertiary);
    border-radius: 6px;
    overflow: hidden;
}

button.button-12Fmur {
    border-radius: 0;
}
button.button-12Fmur:not(:last-child) {
    border-right: 1px solid var(--background-floating);
}
button.button-12Fmur:not(:first-child) {
    border-left: 1px solid #373b42;
}
button.button-12Fmur {
    border-bottom: 1px solid #282b30;
}

.tile-2TcwiO, .border-2Vy6FN, .wrapper-2SplAX {
    border-radius: 3px;
}

.gifTag-1TvtGO {
    filter: invert(1);
    border: 3px solid white;
    border-radius: 3px;
    height: 18px;
    background-position: center; 
}

.messageContent-2t3eCI {
    margin-left: 0px!important;
    padding-left: 0px!important;
    border-radius: 3px;
}
.mentioned-Tre-dv .contents-2MsGLg .messageContent-2t3eCI {
    margin-left: -8px!important;
    padding-left: 4px!important;
    background-color: var(--background-mentioned);
    border-left: 4px solid var(--info-warning-foreground);
    border-radius: 3px;
}

.embedVideoActions-2XdFk2 .wrapper-x4po40 {
    border-radius: 6px;
    padding: 6px;
}
.wrapper-x4po40 svg * {
    stroke-width: 1.5px;
    stroke: #ffffff;
    fill: #00000001;
}
.wrapper-x4po40 svg {
    height: 36px;
    width: 36px;
}
.wrapper-x4po40 > *:not(:last-child) {
    margin-right: 8px;
}

.embedWrapper-1MtIDg {
    background: transparent;
    border-radius: 0
}
.embedWrapper-1MtIDg > div > *:not(.embedSuppressButton-1rZHq6) {
    margin-top: 0;
    line-height: 17px;
}
:not(.imageWrapper-oMkQl4) > div > .embedMedia-1mdWSP {
    margin-top: 12px!important;
}
.embedProvider-1GSN0c {
    font-size: 0.7em;
}

.containerDefault-YUSmu3 a[href*="/channels/"] .icon-2W8DHg, .title-31SJ6t .children-3xh0VB .icon-2xnN2Y {
    transform: scale(-0.6, -0.8);
    margin-right: -7px;
}
/* this CSS reverts all text channel icons */
.containerDefault-YUSmu3 a[href*="/channels/"] .icon-2W8DHg path, .title-31SJ6t .children-3xh0VB .icon-2xnN2Y path {
    d: path('M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z')!important;
}
.containerDefault-YUSmu3 a[href*="/channels/"] .icon-2W8DHg path[d='M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z'], .title-31SJ6t .children-3xh0VB .icon-2xnN2Y path[d='M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z'] {
    transform: scale(1.625, 1.67);
}
/* end text channel icon reversion */
.containerDefault-YUSmu3 a:not([href*="/channels/"]) .icon-2W8DHg {
    transform: scale(0.8);
    margin-right: -7px;
}

.attachedBars-2BCP3l {
    border-radius: 3px;
    margin-top: 3px;
    background: transparent;
    border-bottom: 1px solid var(--chat-box-border-color);
}

.attachedBars-2BCP3l div {
    background: transparent;
}

nav.wrapper-1_HaEi.guilds-2JjMmN {
    width: 78px;
}

.wrapper-28eC3z, .guildSeparator-33mFX6 {
    margin-left: 5px;
}
.expandedFolderBackground-1cujaW {
    margin-left: 3px;
}

.guildSeparator-33mFX6 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.labelContainer-2vJzYL {
    min-height: 0;
    padding: 4px 12px;
    padding-right: 2px;
}
.scroller-1bVxF5 {
    padding: 4px 0;
}
.separator-1So4YB {
    margin: 4px 0;
}
.menu-1QACrS {
    background-color: var(--background-secondary-alt);
}

.channel-1Shao0 {
    margin-left: 0;
    border-radius: 0;
}

.unread-36eUEm {
    background-color: white;
    height: 12px!important;
    margin-top: -5px;
    transition: height 0.1s;
    width: 12px;
    border-radius: 50%;
    margin-left: -6px;
}
.wrapper-z5ab_q > .item-2LIpTv {
    background-color: #7c8389;
    height: 12px!important;
    transition: height 0.1s;
    width: 12px;
    border-radius: 50%;
    margin-left: -6px;
}
.wrapper-z5ab_q > .item-2LIpTv[style*="height: 40px"] {
    background-color: white;
    height: 40px!important;
    border-radius: 8px;

}
.content-1gYQeQ {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
}
.modeUnread-3Cxepe {

}
.modeSelected-3DmyhH, .selected-1-Z6gm {
    border-left: 4px solid var(--brand-experiment);
    background: #282b30;
    background: linear-gradient(90deg, rgba(40,43,48,1) 0%, rgba(40,43,48,1) 70%, rgba(40,43,48,0) 100%);
}
.members-3WRCEx .content-2a4AW9 {
    padding: 0 14px;
}
.message-2CShn3.groupStart-3Mlgv1:before {
    display: block;
    width: 150%;
    margin-top: 0;
    margin-bottom: 18px;
    margin-left: -60px;
    height: 1px;
    background-color: var(--divider-color);
    content: "";
    position: initial;
}
.message-2CShn3:not(.groupStart-3Mlgv1):before {
	display: none
}
.message-2CShn3 {
    background-color: var(--background-primary)!important;
}
.replying-eZ7p5z {
    background-color: transparent;  
}
.replying-eZ7p5z:after {
    content: "REPLYING";
    font-size: 0.8em;
    color: var(--brand-experiment);
}
.emojiSection-3QtaWO button {
    display: none;
}
.backgroundFlash-1X5jVs {
    
}
.form-3gdLxP {
    min-height: 77px;
    padding-top: 20px;
    position: initial;
    border-top: 1px solid var(--divider-color);
    margin-top: 0px;
}

.messagesWrapper-RpOMA3 {
    border-bottom: 1px solid var(--divider-color-secondary);
}
.username-h_Y3Us {
    font-size: 1.05em;
}

.container-YkUktl, .container-1zzFcN {
    padding: 10px;
    border-top: 1px solid #1c1e22;
}
.container-1zzFcN {
    border-bottom: none;
}

button.button-12Fmur {
    border-radius: 0;
    background-color: #2e3136;
    
}
button.button-12Fmur svg {
    transform: scale(0.9);
    
}

.usernameContainer-3PPkWq div {
    font-weight: 450;
}

.size12-oc4dx4.subtext-2HDqJ7 {
    display: none;
}

.message-2CShn3.cozyMessage-1DWF9U {
    padding-left: 80px;
}

.scrollerSpacer-3AqkT9 {
    height: 18px;
}

.avatar-2e8lTP {
    left: 20px;
    margin-top: 0px;
}

.mainContent-20q_Hp {
    padding-left: 5px;
}
.modeSelected-3DmyhH .mainContent-20q_Hp {
    padding-left: 1px;
}

.channelName-3KPsGw {
    font-size: 0.925em;
}
.containerDefault-3TQ5YN {
    padding-left: 13px;
}

.panels-3wFtMD:after {
    height: 24px;
    width: 100%;
    display: block;
    content: "Support • Change Log • Download Apps";
    border-top: 1px solid #2e3136;
    color: #5b5d63;
    font-size: 10.5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.message-2CShn3 {
    --background-message-hover: transparent;
}

.tooltip-14MtrL {
    background-color: var(--brand-experiment)!important;
    border-radius: 3px;
}
.tooltipPointer-3L49xb {
    border-top-color: var(--brand-experiment)!important;
}
.tooltipContent-Nejnvh {
    padding: 4px 9px;
    font-size: 0.9em;
    font-weight: 550;
    color: white;
}
.layers-OrUESM > .layer-86YKbF:nth-child(1) {
    opacity: 1!important;
    transform: none!important;
}
.layers-OrUESM > .layer-86YKbF:nth-child(2)::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    transition: opacity 200ms ease;
    content: "";
}
.layers-OrUESM > .layer-86YKbF:nth-child(2) {
    border-radius: 10px;
    width: 85%;
    height: 85%;
    top: calc(15% / 2);
    left: calc(15% / 2);
}

.botTag-2mryIa {
    padding: 0 2px!important;
}

.popoutContainer-2wbmiM, .popout-TdhJ6Z {
    box-shadow: var(--elevation-high);
    border-radius: 3px;
    background-color: var(--background-secondary)
}
.divider-IqmEqJ.beforeGroup-1BvJAt {
    top: 19px!important;
    position: relative;
}

.lowerBadge-3WTshO, .mentionsBadge-2ckrKL {
    display: inline-block;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 25%), inset 0 1px 0 hsl(0deg 0% 100% / 15%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 25%), inset 0 1px 0 hsl(0deg 0% 100% / 15%);
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 1px 0px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 25%);
    text-transform: uppercase;
}
.wrapper-28eC3z use[href*="lower_badge_masks"] {
    fill: transparent;
}

.searchBar-zdmu7v {
    padding: 2px 4px;
    height: 28px;
}
.theme-dark .searchBar-zdmu7v {
    background-color: #4a4c52;
}

.searchBar-zdmu7v {
    padding: 2px 4px;
    height: 28px;
}
.theme-dark .searchBar-zdmu7v {
    background-color: #4a4c52;
}

.avatar-6qzftW rect:not([mask*="-mobile"]):not([mask*="-typing"]) {
    x: 24;
    y: 24;
}
.avatar-6qzftW svg {
    overflow: visible;
}
#svg-mask-avatar-status-round-32 circle:nth-child(2) {
    r: 0.21;
    cx: 0.9;
    cy: 0.9;
}
#svg-mask-avatar-status-round-80 circle:nth-child(2) {
    r: 0.13;
    cx: 0.85;
    cy: 0.85;
}
#svg-mask-avatar-status-round-120 circle:nth-child(2) {
    r: 0.13;
    cx: 0.835;
    cy: 0.835;
}

#svg-mask-avatar-status-mobile-32 rect {
    x: 63%;
    y: 48%;
}
#svg-mask-avatar-status-mobile-80 rect {
    x: 72%;
    y: 62%;
    rx: 6%;
    ry: 7%;
}
#svg-mask-avatar-status-mobile-120 rect {
    x: 71%;
    y: 61%;
    rx: 6%;
    ry: 7%;
}

.cozy-VmLDNB .timestamp-p1Df1m {
	color: #575a64
}


.akaBadge-3i7V3p {
    border-radius: 3px;
    padding: 0px 2px;
    background-color: #72767d;
    color: white;
}

.attachButtonInner-2mwer8 svg path {
    height: 44px;
    width: 44px;
    d: path('M 6.09375 4.917969 L 6 5.011719 L 6.003906 10.269531 L 6.011719 15.527344 L 6.144531 15.660156 L 8.6875 15.660156 L 8.753906 15.59375 C 8.847656 15.496094 8.847656 15.316406 8.753906 15.222656 L 8.6875 15.15625 L 7.621094 15.148438 L 6.550781 15.140625 L 6.550781 5.375 L 17.449219 5.375 L 17.449219 15.144531 L 16.347656 15.148438 L 15.242188 15.15625 L 15.183594 15.214844 C 15.105469 15.285156 15.082031 15.402344 15.121094 15.515625 C 15.171875 15.675781 15.15625 15.675781 16.585938 15.667969 L 17.855469 15.660156 L 17.988281 15.527344 L 17.988281 5.023438 L 17.914062 4.9375 C 17.875 4.890625 17.824219 4.847656 17.796875 4.839844 C 17.769531 4.832031 15.148438 4.824219 11.96875 4.824219 L 6.1875 4.824219 L 6.09375 4.917969 M 11.890625 8.496094 C 11.867188 8.507812 11.375 8.988281 10.800781 9.5625 L 9.757812 10.609375 L 9.757812 10.726562 C 9.757812 10.921875 9.941406 11.046875 10.121094 10.96875 C 10.15625 10.953125 10.535156 10.597656 10.957031 10.175781 L 11.722656 9.40625 L 11.734375 14.203125 L 11.746094 18.996094 L 11.808594 19.074219 C 11.917969 19.210938 12.0625 19.214844 12.195312 19.082031 L 12.289062 18.988281 L 12.289062 9.394531 L 13.96875 11.074219 L 14.085938 11.074219 C 14.261719 11.074219 14.339844 10.992188 14.339844 10.8125 L 14.339844 10.679688 L 13.246094 9.585938 C 12.054688 8.394531 12.074219 8.410156 11.890625 8.496094');
    fill: var(--chat-box-border-color);
}
.attachButton-_ACFSu svg {
    height: 44px;
    width: 44px;
    margin: 0;
}
.attachButton-_ACFSu {
    padding: 0;
}
.attachButtonInner-2mwer8 {
    height: 44px;
    width: 44px;
}
.container-ZMc96U, .header-3OsQeK {
    height: 54px;
}
.header-3OsQeK {
    padding: 16px
}

.headerTop-3GPUSF {
	background-color: var(--background-tertiary);
}
.body-2wLx-E, .footer-3naVBw, .body-2wLx-E > * {
	background-color: var(--background-secondary);
}
.body-2wLx-E {
    box-shadow: none;
}
.nickname-t08Mck.base-21yXnu.size20-9iTTnl, .nameTag-H6kSJ0 {
   font-size: 16px; 
}/*
.customStatus-3XAoF9 {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    width: 250px!important;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--background-tertiary);
}*/
.customStatus-3XAoF9:before {
    content: "CUSTOM STATUS";
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: var(--header-secondary);
    padding-top: 15px;
}
.divider-1wtgZ3 {
    background-color: transparent!important;
}
.avatar-2Vndt_ {
	border: 6px solid var(--background-tertiary);
}
.avatarWrapperNormal-ahVUaC {
	left: 78px;
	top: 15px;
}
.avatarPositionPremium-1zPBq9 {
	top: 95px;
}
.headerText-1-WmDq {
	text-align: center;
}
.userPopout-2j1gM4 {
	width: 250px!important;
}
.userPopout-2j1gM4 .markup-eYLPri code {
    background-color: var(--background-tertiary);
}
.banner-1YaD3N:not(.bannerPremium-kkSkPv) {
    background-color: var(--background-tertiary)!important;
    height: 45px;
}
.aboutMeBody-1J8rhz {
    margin-left: -10px;
    width: 240px;
    font-size: 0.85em!important;
}


.mention.iconMentionText-1_WCtN svg { 
    display: none; 
} 
.mention.iconMentionText-1_WCtN { 
    padding-left: 0; 
} 
.mention.iconMentionText-1_WCtN:before { 
    content: "#"; 
} 


.embedImage-2Ynqkh img, 
.embedImage-2Ynqkh video, 
.embedThumbnail-2nTasl img, 
.embedThumbnail-2nTasl video,
.embedVideo-2ixt5A img, 
.embedVideo-2ixt5A video
{border-radius: 0!important}

.placeholder-1rCBhr {
    padding-left: 8px;
}


/* this reverts reactions (taken from GT-RevertRebrand because ive given up trying to do it myself) */
.reaction-2A2y9y {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}
.mentioned-Tre-dv .reaction-2A2y9y,
.mentioned-Tre-dv .reaction-2A2y9y:hover {
    background-color:var(--background-modifier-accent);
}
.reaction-2A2y9y .reactionCount-1zkLcN {
  color: var(--text-muted); 
}
.reaction-2A2y9y .reactionInner-9eVHJa {
  padding: 0 .375rem;
}
.reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN {
  color: var(--brand-experiment); 
}
.mentioned-Tre-dv .reaction-2A2y9y.reactionMe-3I9gFK,
.mentioned-Tre-dv .reactionMe-3I9gFK.reaction-2A2y9y:hover,
.reaction-2A2y9y.reactionMe-3I9gFK {
  background-color: var(--brand-experiment-30a);
}
.reaction-2A2y9y:hover .reactionCount-1zkLcN {
  color: var(--interactive-active) !important;
}

.reaction-2A2y9y:hover {
  background-color: var(--background-modifier-selected);
}

.reaction-2A2y9y.reactionMe-3I9gFK:hover {
  background-color: var(--brand-experiment-40a);
}


/* this changes the server banner 
.container-1NXEtd .content-2a4AW9 > div:first-child {
    height: 0px!important;
}
.bannerImage-ubW8K-, .container-1-ERn5 .animatedContainer-2laTjx  {
    background-color: transparent!important;
    transform: none!important;
    opacity: 1!important;
}
.container-1-ERn5 .animatedContainer-2laTjx {
    position: relative!important;
}


/* this changes invite embeds */
.wrapper-1HIH0j {
    border: 1px solid var(--background-secondary-alt);
    padding: 8px
}
.wrapper-1HIH0j > h5, .guildIcon-3ZfRfI {
    display: none
}
.wrapper-1HIH0j .content-1r-J1r button {
    margin-left: 0;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: transparent;
    background-size: 100% 100%!important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNS4yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNy40LDExLjE3LDQsOC42Miw1LDcuMjZsMiwxLjUzTDEwLjY0LDRsMS4zNiwxWiIgZmlsbD0id2hpdGUiPjwvcGF0aD48L3N2Zz4K)!important;
    order: -1;
}
.guildNameWrapper-OUvDrW:before {
    content: "join";
    margin-right: 8px;
}


/* this reverts roles */
.role-2TIOKu {
    border-radius: 9999px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    padding-left: 0;
    padding-right: 2px;
}
.addButton-1_dZYu {
    border-radius: 50%;
    padding: 3px;
    border-color: var(--interactive-muted);
}



/* this reverts the ping style */
.wrapper-1ZcZW- {
    border-radius: 0;
    padding: 0;
    text-decoration: none!important;
}
.wrapper-1ZcZW-:not([style*="color:"]) {
    background-color: #7289da12!important;
    color: #657cd3!important;
}
.wrapper-1ZcZW-:not([style*="color:"]):hover {
    background-color: #7289da36!important;
}
.messageContent-2t3eCI {
    border-radius: 0;
}



/* this changes the quick action row */
.buttonContainer-1502pf {
    top: 20px;
    background: transparent;
    transform: scale(0.8);
}
.groupStart-3Mlgv1 .buttonContainer-1502pf {
    top: 55px;
}
.hasReply-2Cr4KE .buttonContainer-1502pf {
    top: 79px;
}
.wrapper-2vIMkT {
    background: transparent;
    box-shadow: initial!important;
}
.wrapper-2vIMkT .button-3bklZh {
    background: transparent!important;
}
.wrapper-2vIMkT .button-3bklZh svg * {
    stroke-width: 1.25px;
    stroke: #6e7175;
    fill: #00000001;
}



/* removes status masks */


.toolbar-3_r2xA .iconWrapper-2awDjA:not([aria-label*="ute channel"]):not([aria-label*="Pinned"]), .buttons-uaqb-5 {display: none;}
rect.pointerEvents-9SZWKj:not([mask*="-mobile"]):not([mask*="-typing"]), .status-12NUUC rect {
    mask: url(#svg-mask-status-online);
}
.status-12NUUC {
    transform: scaleY(0.7);
    top: 1px;
    position: relative;
    mask: url(#svg-mask-status-online);
}


/* removes... a lot of things. 
.containerDefault-3TQ5YN, .mainContent-20q_Hp[data-list-item-id*="upcoming-events"],
.hasBanner-2IrYih .animatedContainer-2laTjx,
.content-2a4AW9 div[style="height: 84px;"]:first-child, 
.guildIconContainer-2FW_iA, .container-1Bj0eq,
.activity-2EQDZv, .premiumIcon-3PLiGh,
.roleIcon-3-WL_I, .aboutMeSection-PUghFQ,
.customStatus-3XAoF9, .profileBadges-2pItdR {display: none}

